<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
<title>写者-提案详情</title>
</head>
<style>	

	.login-control{
		text-align:right;
		background-color:rgb(202,228,202);
		
	}
	.func-choose-button{
		display:inline;
		width:49.6%;
		font-size:1.5em;
		padding:0.2em;
		background-color:white;
	}

	.article-container{
		width:600px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.tiny-container{
		width:600px;
		margin-left:auto;
		margin-right:auto;
	}
</style>
<body>
<div class="root-container">
	<header class="big-header">能力规范文稿管理系统</header>
	<div class="login-control">
		<a href="/index" >
			<button class="button">注销</button>
		</a>
	</div>
	<div class="func-choose-container">
		<a href="w_func_choose_formanage.html">
				<button class="func-choose-button" >写者</button>
			</a>
		<a href="m_func_choose.html">
			<button class="func-choose-button">管理</button>
		</a>
	<div class="container">
		<div class="small-container">
				<header class="small-header">提案详情</header>
				<!--下面为动态更新内容，提案详情-->
				<br/>
				<table>
				<tr>
					<td>提案id</td><td>id</td>
					<td>提案名称</td><td>name</td>
				</tr>
				<tr>
					<td>提案作者</td><td>author</td>
					<td>截止日期</td><td>date</td>
				</tr>
				<tr>
					<td>提案内容</td>
				</tr>
				</table>
				<div class="article-container">
				jidwhwiefhwoifhwifhwioefhiwoefhiwfhowe<br>
				dhwdhwdjwhdjwdhwjdbjwdjwdhjwdhjwhdjwhdjwhd<br>
				</div>
				<br/>
				<div class="tiny-container">
					<form>
						<input type="text">
						<input type="radio">附议
						<input type="radio">反对
						<button class="button">提交</button>
				</div>
				<br/>
				<div class="tiny-container">
					<p>评论区</p>
					<table style="border:10x solid black">
						<tr>
							<th>评论人</th>
							<th>评论内容</th>
							<th>时间</th>
						</tr>
						<tr>
							<td>1</td>
							<td>2</td>
							<td>3</td>
						</tr>
						<tr>
							<td>1</td>
							<td>2</td>
							<td>3</td>
						</tr>
					</table>
				</div>
		</div>
	</div>
	</div>
</div>
</body>
</html>