<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
<title>写者-规范详情</title>
</head>
<style>	

	.login-control{
		text-align:right;
		background-color:rgb(202,228,202);
		
	}
	.func-choose-button{
		display:inline;
		width:49.6%;
		font-size:1.5em;
		padding:0.2em;
		background-color:white;
	}

	.article-container{
		width:600px;
		margin-left:auto;
		margin-right:auto;
	}
	
	.tiny-container{
		width:600px;
		margin-left:auto;
		margin-right:auto;
	}
</style>
<body>
<div class="root-container">
	<header class="big-header">能力规范文稿管理系统</header>
	<div class="login-control">
		<a href="/index" >
			<button class="button">注销</button>
		</a>
	</div>
	<div class="func-choose-container">
			<a href="w_func_choose.html">
				<button class="func-choose-button" >写者</button>
			</a>
			<button class="func-choose-button disabled-button" disabled>管理</button>
	<div class="container">
		<div class="small-container">
				<header class="small-header">规范详情</header>
				<!--下面为动态更新内容，提案详情-->
			<br/>
			<table>
				<tr th:object="${standard}">
				<tr>
					<td>规范id:&nbsp;&nbsp;</td><td th:text="*{standard.s_id}"></td>
					<td>规范名称:&nbsp;&nbsp;</td><td th:text="*{standard.name}"></td>
				</tr>
				<tr>
					<td>编辑日期:</td><td th:text="*{standard.editDate}"></td>
				</tr>
				<tr>
					<td>规范内容:&nbsp;</td><td th:text="*{standard.standard_content}"></td>
				</tr>
			</table>

						</tr>
					</table>
				</div>
		</div>
	</div>
	</div>
</div>
</body>
</html>